# --- CẤU HÌNH DATABASE ---
DATABASE_URL=mysql+pymysql://root:root@intelligent-db:3306/intelligent_db

# --- CẤU HÌNH AI (GOOGLE GEMINI) ---
GOOGLE_API_KEY=AIzaSyBFQA2B4g7CwDta0Ju_0yKiOf9HX6ZP58c

CACHE_TYPE: redis
REDIS_URL: redis://redis:6379/0
CACHE_PREFIX: intelligent-service
CACHE_DEFAULT_TTL: 300

GEMINI_MODEL=gemini-2.5-flash